{{ define "main" }}
<main aria-role="main" class="main-single">
  <div class="single">
        <header class="header">
            <h1>{{.Title}}</h1>
            {{ with .Params.subtitle }}
            <span class="subtitle">{{.}}</span>
            {{ end }}
            <div class="metadata">
              <time>{{ .Date.Format "January 2, 2006" }}</time>
              <!-- Display categories -->
              {{if .Params.categories}}
                  {{ range .Params.categories }}
                    • <a class="category" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                  {{ end }}
              {{ end }}
            </div> 
          </header>
        {{.Content}}
  </div>
</main>
<script>
  function addAnchor(element) {
      element.insertAdjacentHTML('afterbegin', `<a href="#${element.id}" class="hanchor" ariaLabel="Anchor">#</a> ` )
  }
  document.addEventListener('DOMContentLoaded', function () {
      // Add anchor links to all headings
      var headers = document.querySelectorAll('h1[id], h2[id], h3[id], h4[id]')
      if (headers) {
          headers.forEach(addAnchor)
      }
  });
</script>
{{ end }}
