---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$text-color-dark: #ccc;
$background-color: #fdfdfd;
$background-color-dark: #0f0f0f;
$brand-color: #2568ba;
$brand-color-dark: #c18004;

$grey-color: #757575;
$grey-color-light: lighten($grey-color, 45%);
$grey-color-dark: darken($grey-color, 20%);
$grey-color-theme-dark: #b4b4b4;
$grey-color-light-theme-dark: #333333;
$grey-color-dark-theme-dark: #b27400;

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;


.site-title, .site-title:hover, .site-title:visited {
    text-decoration: none;
    color: black !important;
}

.site-header {
    font-weight: bold;
}

.site-header, .post-header, .site-footer {
    font-family: Orbitron;
}

.post-content h1, 
.post-content h2, 
.post-content h3, 
.post-content h4, 
.post-content h5 {
    font-family: monospace;
}

@media (prefers-color-scheme: dark) {
    img:not(.color) {
        filter: invert(1);
    }

    .logo, .github {
        filter: invert(0.85);
    }

    .site-title, .site-title:hover, .site-title:visited {
        color: rgb(215, 215, 215) !important;
    }
}



// Define defaults for each variable.
$base-font-family: Bitter, "Apple SD Gothic Neo", "Noto Sans", "Source Han Sans", "Noto Sans CJK JP", "Source Han Sans JP", "Noto Sans CJK KR", "Source Han Sans KR", NanumBarunGothic, AppleGothic, "Malgun Gothic", Dotum, sans-serif !default;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2568ba !default;

$grey-color:       #757575 !default;
$grey-color-light: lighten($grey-color, 45%) !default;
$grey-color-dark:  darken($grey-color, 20%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;



// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
   margin: 0;
   padding: 0;
 }
 
 
 
 /**
  * Basic styling
  */
 body {
   font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
   color: $text-color;
   background-color: $background-color;
   -webkit-text-size-adjust: 100%;
   -webkit-font-feature-settings: "kern" 1;
      -moz-font-feature-settings: "kern" 1;
        -o-font-feature-settings: "kern" 1;
           font-feature-settings: "kern" 1;
   font-kerning: normal;
   word-wrap: break-word;
 }
@media (prefers-color-scheme: dark) {
    body {
        color: $text-color-dark;
        background-color: $background-color-dark;
    }
}
 
 /**
  * Set `margin-bottom` to maintain vertical rhythm
  */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
   margin-bottom: $spacing-unit / 2;
 }
 
 
 
 /**
  * Images
  */
 img {
   max-width: 100%;
   vertical-align: middle;
 }
 
 
 
 /**
  * Figures
  */
 figure > img {
   display: block;
 }
 
 figcaption {
   font-size: $small-font-size;
 }
 
 
 
 /**
  * Lists
  */
 ul, ol {
   margin-left: $spacing-unit;
 }
 
 li {
   > ul,
   > ol {
     margin-bottom: 0;
   }
 }
 
 
 
 /**
  * Headings
  */
 h1, h2, h3, h4, h5, h6 {
   font-weight: $base-font-weight;
 
   code {
     font-size: inherit;
   }
 }
 
 
 
 /**
  * Links
  */
 a {
   color: $brand-color;
   text-decoration: none;
 
   &:visited {
     color: darken($brand-color, 10%);
   }
 
   &:hover {
     color: $text-color;
     text-decoration: underline;
   }
}
@media (prefers-color-scheme: dark) {
    a {
        color: $brand-color-dark;
        &:visited {
            color: $grey-color-dark-theme-dark;
        }
        &:hover {
            color: #ffa904;
        }
    }
} 
 
 
 /**
  * Blockquotes
  */
 blockquote {
   color: $grey-color;
   border-left: 4px solid $grey-color-light;
   padding-left: $spacing-unit / 2;
   font-size: 18px;
   letter-spacing: -1px;
   font-style: italic;
 
   > :last-child {
     margin-bottom: 0;
   }
 
   pre, code {
     color: $text-color;
   }
 }

 
 
 /**
  * Rules
  */
 hr {
   height: 4px;
   margin: $spacing-unit / 2 0;
   border: 0;
   background-color: $grey-color-light;
 }
 
 
 
 /**
  * Code formatting
  */
 pre,
 code {
   font-family: $monospace-font-family;
   font-size: 13px;
   border: 1px solid $grey-color-light;
   border-radius: 0;
   background-color: #f8f8f8;
 }
@media (prefers-color-scheme: dark) {
    pre, code {
        background: #252526;
        border-color: #474747;
    }
}
 
 code {
   padding: 1px 5px;
 }
 
 pre {
   padding: 8px 12px;
   overflow-x: auto;
   word-wrap: normal;
 
   > code {
     border: 0;
     padding-right: 0;
     padding-left: 0;
   }
 }
 
 
 
 /**
  * Wrapper
  */
 .wrapper {
   max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
   max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
   margin-right: auto;
   margin-left: auto;
   padding-right: $spacing-unit;
   padding-left: $spacing-unit;
   @extend %clearfix;
 
   @include media-query($on-laptop) {
     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
     padding-right: $spacing-unit / 2;
     padding-left: $spacing-unit / 2;
   }
 }
 
 
 
 /**
  * Clearfix
  */
 %clearfix:after {
   content: "";
   display: table;
   clear: both;
 }
 


 /**
 * Site header
 */
 .site-header {
    min-height: 56px;
  
    // Positioning context for the mobile navigation icon
    position: relative;
  }
  
  .site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
  
    &,
    &:visited {
      color: $grey-color-dark;
    }
  }
  
  .site-nav {
    float: right;
    line-height: 56px;
  
    .page-link {
      color: $text-color;
      line-height: $base-line-height;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    @media (prefers-color-scheme: dark) {
        .page-link {
            color: $text-color-dark;
        }
    }

  
    @include media-query($on-palm) {
      .page-link {
        padding: 20px 0;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
  
  
  
  /**
   * Site footer
   */
  .site-footer {
    padding: $spacing-unit 0;
    font-size: 15px;
    color: $grey-color;
    text-align: center;
  }
  
  
  
  /**
   * Page content
   */
  .page-content {
    padding: $spacing-unit 0;
  }
  
  .page-heading {
    font-size: 20px;
  }
  
  .post-list {
    margin-left: 0;
    list-style: none;
  
    .post-link:hover {
      text-decoration: none;
    }
  
    > li {
      margin-bottom: $spacing-unit * 2;
  
      &:not(:first-child) {
        border-top: 4px solid $grey-color-light;
        padding-top: $spacing-unit * 2;
      }
    }
    @media (prefers-color-scheme: dark) {
        >li:not(:first-child) {
            border-top-color: $grey-color-light-theme-dark;
        }        
    }
}
  
  .post-archives {
    margin-left: 0;
    list-style: none;
  
    .post-link {
      font-size: 24px;
    }
  
    > li {
      margin-bottom: $spacing-unit;
    }
  }
  
  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
  .post-link {
    &,
    &:visited {
      color: $text-color;
    }
  
    &:hover {
      color: $brand-color;
    }
  }
  @media (prefers-color-scheme: dark) {
      .post-meta {
          color: $grey-color-theme-dark;
      }
      .post-link, .post-link:visited {
          color: $text-color-dark;
      }
      .post-link:hover {
          color: $brand-color-dark;
      }
  }
    
  .post-continue {
    a {
      padding: 8px 15px;
      text-decoration: none;
  
      &,
      &:visited {
        color: $grey-color-dark;
        background-color: $grey-color-light;
      }
  
      &:hover {
        color: white;
        background-color: $brand-color;
      }
    }
    @media (prefers-color-scheme: dark) {
        a, a:visited {
            color: $grey-color-dark-theme-dark;
            background-color: $grey-color-light-theme-dark;
        }
        a:hover {
            background-color: $brand-color-dark;
            color: black;
        }
    }
  }
  
  
  
  /**
   * Posts
   */
  .post-header {
    margin-bottom: $spacing-unit;
  }
  
  .post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
  
    @include media-query($on-laptop) {
      font-size: 36px;
    }
  }
  
  .post-content {
    margin-bottom: $spacing-unit;
  
    h1 {
      font-size: 38px;
  
      @include media-query($on-laptop) {
        font-size: 34px;
      }
    }
  
    h2 {
      font-size: 32px;
  
      @include media-query($on-laptop) {
        font-size: 28px;
      }
    }
  
    h3 {
      font-size: 26px;
  
      @include media-query($on-laptop) {
        font-size: 22px;
      }
    }
  
    h4 {
      font-size: 20px;
  
      @include media-query($on-laptop) {
        font-size: 18px;
      }
    }
  }
  
  
  
  /**
   * Pagination
   */
  .pagination {
    padding: $spacing-unit / 2 0;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    text-align: center;
    @extend %clearfix;
  
    a {
      &,
      &:visited {
        color: $grey-color;
      }
  
      &:hover {
        color: $brand-color;
      }
    }
    @media (prefers-color-scheme: dark) {
        a:hover {
            color: $brand-color-dark;
        }
    }
  
    .previous {
      float: left;
    }
  
    .next {
      float: right;
    }
  }
  
/**
 * Syntax highlighting styles
 */
 .highlight {
    background-color: #f8f8f8;
    @extend %vertical-rhythm;
  
    .highlighter-rouge & {
      background-color: #f8f8f8;
    }
  
    .cm    { color: #727262; font-style: italic } // Comment.Multiline
    .cp    { color: #727272; font-weight: bold } // Comment.Preproc
    .c1    { color: #727262; font-style: italic } // Comment.Single
    .cs    { color: #727272; font-weight: bold; font-style: italic } // Comment.Special
    .c, .cd { color: #727262; font-style: italic } // Comment, Comment.Doc
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .ge    { color: #000; font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #727272 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .go    { color: #727272 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #727272 } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { color: #000; font-weight: bold } // Keyword.Constant
    .kd    { color: #000; font-weight: bold } // Keyword.Declaration
    .kn    { color: #000; font-weight: bold } // Keyword.Namespace
    .kp    { color: #000; font-weight: bold } // Keyword.Pseudo
    .kr    { color: #000; font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .k, .kv { color: #000; font-weight: bold } // Keyword, Keyword.Variable
    .mf    { color: #007f7f } // Literal.Number.Float
    .mh    { color: #007f7f } // Literal.Number.Hex
    .il    { color: #007f7f } // Literal.Number.Integer.Long
    .mi    { color: #007f7f } // Literal.Number.Integer
    .mo    { color: #007f7f } // Literal.Number.Oct
    .m, .mb, .mx { color: #007f7f } // Literal.Number, Literal.Number.Bin, Literal.Number.Other
    .sb    { color: #d14 } // Literal.String.Backtick
    .sc    { color: #d14 } // Literal.String.Char
    .sd    { color: #d14 } // Literal.String.Doc
    .s2    { color: #d14 } // Literal.String.Double
    .se    { color: #d14 } // Literal.String.Escape
    .sh    { color: #d14 } // Literal.String.Heredoc
    .si    { color: #d14 } // Literal.String.Interpol
    .sx    { color: #d14 } // Literal.String.Other
    .sr    { color: #008522 } // Literal.String.Regex
    .s1    { color: #d14 } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol
    .s     { color: #d14 } // Literal.String
    .na    { color: #007f7f } // Name.Attribute
    .bp    { color: #727272 } // Name.Builtin.Pseudo
    .nb    { color: #007aa3 } // Name.Builtin
    .nc    { color: #458; font-weight: bold } // Name.Class
    .no    { color: #007f7f } // Name.Constant
    .nd    { color: #3c5d5d; font-weight: bold } // Name.Decorator
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: #900; font-weight: bold } // Name.Function
    .nl    { color: #900; font-weight: bold } // Name.Label
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .vc    { color: #007f7f } // Name.Variable.Class
    .vg    { color: #007f7f } // Name.Variable.Global
    .vi    { color: #007f7f } // Name.Variable.Instance
    .nv    { color: #007f7f } // Name.Variable
    .ow    { color: #000; font-weight: bold } // Operator.Word
    .o     { color: #000; font-weight: bold } // Operator
    .w     { color: #727272 } // Text.Whitespace
  }

@media (prefers-color-scheme: dark) {
    .highlighter-rouge .highlight {
        background-color: #252526;
        .gd    { color: #c18004; background-color: #fdd } // Generic.Deleted
        .ge    { color: #c18004; font-style: italic } // Generic.Emph
        .kc    { color: #c18004; font-weight: bold } // Keyword.Constant
        .kd    { color: #c18004; font-weight: bold } // Keyword.Declaration
        .kn    { color: #c18004; font-weight: bold } // Keyword.Namespace
        .kp    { color: #c18004; font-weight: bold } // Keyword.Pseudo
        .kr    { color: #c18004; font-weight: bold } // Keyword.Reserved
        .k, .kv { color: #c18004; font-weight: bold } // Keyword, Keyword.Variable
        .ow    { color: #c18004; font-weight: bold } // Operator.Word
        .o     { color: #c18004; font-weight: bold } // Operator
        .ne    { color: #3e7ac8; font-weight: bold } // Name.Exception
        .nf    { color: #3e7ac8; font-weight: bold } // Name.Function
        .nl    { color: #3e7ac8; font-weight: bold } // Name.Label
        .sb    { color: #20b90a } // Literal.String.Backtick
        .sc    { color: #20b90a } // Literal.String.Char
        .sd    { color: #20b90a } // Literal.String.Doc
        .s2    { color: #20b90a } // Literal.String.Double
        .se    { color: #20b90a } // Literal.String.Escape
        .sh    { color: #20b90a } // Literal.String.Heredoc
        .si    { color: #20b90a } // Literal.String.Interpol
        .sx    { color: #20b90a } // Literal.String.Other
        .s1    { color: #20b90a } // Literal.String.Single
        .s     { color: #20b90a } // Literal.String
    }
}


