@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-Regular.woff2') format('woff2'),
        url('Orbitron-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

